.title{
    font-size: 40px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.center{
    text-align: center;
}

.center h2{
    font-size: 30px;
}

.img{
    border-radius: 50%;
}

.sobre{
    display: flex;
    margin: 20px;
    padding: 10px;
}

@media (max-width: 700px) {
    .sobre {
        flex-wrap: wrap;
    }    
}

.sobre p {
    text-align: start;
    font-size: 16px;
}